<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwords</title>
</head>
<body>
<h1>Passwords</h1>
<form method="POST">
    <center>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.acc_password }}
            {{ form.submit }}
        </form>
    {% if ok == True %}
        <H2>Saved Passwords</H2>
        <table style="margin-top:20px;">
            <tr>
                <th> ID </th>
                <th> Website </th>
                <th> Username </th>
                <th> Password </th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td style="width:300px" bgcolor=#E8E8E8 >{{ row.password_id }}</td>
                    <td style="width:300px" bgcolor=#B8B8B8 >{{ row.website }}</td>
                    <td style="width:300px" bgcolor=#E8E8E8>{{ row.username }}</td>
                    <td style="width:300px" bgcolor=#E8E8E8>{{ row.password }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div style="margin-top:15px;" class="container">
            <span><a href="/home">Back</a></span>
        </div>
    </center>
</form>
</body>
</html>